.fancy-color-text,
.fancy-word {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.fancy-color-text .fancy-word {
  margin: 0.4em;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  flex-wrap: nowrap;
}
.fancy-color-text span {
  padding: 0.25em;
  box-shadow: none;
  font-family: var(--font-family-themed);
  font-weight: bold;
  border-top: 0.3rem solid white;
  border-bottom: 0.3rem solid white;
  border-right: 0.15rem solid white;
  font-size: var(--font-size-h);
  color: white;
}
.fancy-color-text .leftmost {
  border-left: 0.3rem solid white;
  border-radius: 0.3em 0 0 0.3em;
}
.fancy-color-text .rightmost {
  border-right: 0.3rem solid white;
  border-radius: 0 0.3em 0.3em 0;
}

.fancy-color-text .space {
  background: transparent;
  border: 0;
  width: 1em;
}
.fancy-color-text span:nth-child(1) {
  background: var(--rainbow1);
}
.fancy-color-text span:nth-child(2) {
  background: var(--rainbow2);
}
.fancy-color-text span:nth-child(3) {
  background: var(--rainbow3);
}
.fancy-color-text span:nth-child(4) {
  background: var(--rainbow4);
}
.fancy-color-text span:nth-child(5) {
  background: var(--rainbow5);
}
.fancy-color-text span:nth-child(6) {
  background: var(--rainbow6);
}
.fancy-color-text span:nth-child(7) {
  background: var(--rainbow1);
}
.fancy-color-text span:nth-child(8) {
  background: var(--rainbow2);
}
.fancy-color-text span:nth-child(9) {
  background: var(--rainbow3);
}
.fancy-color-text span:nth-child(10) {
  background: var(--rainbow4);
}
.fancy-color-text span:nth-child(11) {
  background: var(--rainbow5);
}
.fancy-color-text span:nth-child(12) {
  background: var(--rainbow6);
}
.fancy-color-text span:nth-child(13) {
  background: var(--rainbow1);
}
.fancy-color-text span:nth-child(14) {
  background: var(--rainbow2);
}
.fancy-color-text span:nth-child(15) {
  background: var(--rainbow3);
}
.fancy-color-text span:nth-child(16) {
  background: var(--rainbow4);
}
.fancy-color-text span:nth-child(17) {
  background: var(--rainbow5);
}
.fancy-color-text span:nth-child(18) {
  background: var(--rainbow6);
}
